Q1) Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

# Create a Pandas Series
my_series = pd.Series([4, 8, 15, 16, 23, 42])

# Print the series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2) Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

# Create a list with 10 elements
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Convert the list to a Pandas Series
my_series = pd.Series(my_list)

# Print the series
print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [ ]:
Q3)Create a Pandas DataFrame that contains the following data:
    Name        Age     Gender
    Alice       25      Female
    Bob         30      Male
    Claire      27      Female
Then, print the DataFrame.

In [ ]:
To create a Pandas DataFrame with the given data, you can use the pd.DataFrame() function and pass a dictionary where the keys represent the column names and the
values represent the data in each column. Here's an example:

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
In this example, we created a dictionary data with three keys ('Name', 'Age', and 'Gender'), each representing a column in the DataFrame, and the values as lists
with the data in each column. We then passed this dictionary to the pd.DataFrame() function to create the DataFrame df and printed it to the console using the
print() function.

Q4) What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types, similar to a spreadsheet or SQL table. It is a
primary object in Pandas and is used to represent and manipulate data with rows and columns.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding any data type. It is similar to a column in a DataFrame or a single
vector in R.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [4]:
import pandas as pd

# Create a dictionary with data for a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Create a Series from the 'Age' column of the DataFrame
ages = df['Age']

# Print the DataFrame and the Series
print("DataFrame:")
print(df)
print()
print("Series:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

In [ ]:
In this example, we first created a dictionary data with three keys ('Name', 'Age', and 'Gender'), each representing a column in the DataFrame, and the values as
lists with the data in each column. We then used this dictionary to create a DataFrame df using the pd.DataFrame() function.

Next, we created a Series ages from the 'Age' column of the DataFrame by indexing the DataFrame using the column name. This resulted in a one-dimensional labeled
array with the values from the 'Age' column of the DataFrame.

Finally, we printed both the DataFrame and the Series to the console using the print() function. The DataFrame contains all three columns, while the Series only
contains the 'Age' column. Therefore, the DataFrame is a 2-dimensional data structure, while the Series is a 1-dimensional data structure.

Q5) What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
Pandas provides many functions to manipulate data in a DataFrame. Here are some common functions that can be used to manipulate data:

1)head() and tail(): These functions are used to view the first or last n rows of a DataFrame respectively. They are useful to quickly inspect the structure and
contents of a DataFrame.

In [6]:
# Example usage of head() function
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# View the first two rows of the DataFrame
print(df.head(2))

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [ ]:
2)describe(): This function is used to compute summary statistics of a DataFrame, such as count, mean, standard deviation, minimum, and maximum values. It is
useful to quickly get a sense of the distribution and range of values in a DataFrame.

In [7]:
# Example usage of describe() function
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# Compute summary statistics of the DataFrame
print(df.describe())

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [ ]:
3)groupby(): This function is used to group rows in a DataFrame based on one or more columns, and apply an aggregation function, such as mean, sum, count, or
custom functions, to each group. It is useful to analyze the relationship between different variables in a dataset.

In [8]:
# Example usage of groupby() function
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire', 'David', 'Eva', 'Frank'],
        'Age': [25, 30, 27, 25, 35, 32],
        'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male']}
df = pd.DataFrame(data)

# Group the DataFrame by 'Gender' column and compute the mean of 'Age' column for each group
grouped_df = df.groupby('Gender')['Age'].mean()
print(grouped_df)

Gender
Female    29.0
Male      29.0
Name: Age, dtype: float64

In [ ]:
In this example, we grouped the DataFrame by the 'Gender' column using the groupby() function, and then computed the mean of the 'Age' column for each group using
the mean() function. This allowed us to see the average age of males and females in the dataset.

These are just a few examples of the many functions available in Pandas to manipulate data in a DataFrame. They are useful in a wide variety of data analysis 
tasks, from data cleaning and preparation to exploratory data analysis and model building.

Q6) Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
In Pandas, DATA MUTABILITY refers to the ability to change the values within a data structure, while SIZE MUTABILITY refers to the ability to change the size or
shape of the data structure itself.

All three, that is Series, DataFrame and Panel are DATA MUTABLE, meaning that you can change the values within them, but only DataFrame and Panel are SIZE MUTABLE,
meaning that you can change their shape or size.

Q7) Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
You can create a Pandas DataFrame using multiple Series by passing a dictionary of Series objects to the DataFrame constructor. Each Series represents a column in
the resulting DataFrame, and the index of each Series is used to align the data. Here's an example:

In [9]:
import pandas as pd

# create three Series objects
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# combine the Series objects into a dictionary
data = {'Name': names, 'Age': ages, 'Gender': genders}

# create the DataFrame
df = pd.DataFrame(data)

# print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
In this example, we first create three Series objects called names, ages, and genders, each containing data for a single column of the final DataFrame. We then
combine these Series into a dictionary called data, where the keys represent the column names and the values represent the Series data.

Finally, we pass this dictionary to the DataFrame constructor to create the final DataFrame object df, which contains the data from all three Series. Note that the
index of each Series is used to align the data, so that the values in each column are matched to the correct row.